<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.shopping.mapper.BoardMapper">
    <select id="selectAge" resultType="int" parameterType="com.example.shopping.mapper.Person">
        select age from test where name = #{name}
    </select>
    <insert id="insertPerson" parameterType="com.example.shopping.mapper.Person">
        insert into test(age,name)
        values(#{age},#{name})
    </insert>
</mapper>