<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link th:href="@{/css/bootstrap.min.css}"
          href="../css/bootstrap.min.css" rel="stylesheet">
    <style>
        .container {
            max-width: 560px;
        }
    </style>
</head>
<body>

<div class="container">

    <div class="py-5 text-center">
        <h2 th:text="#{login.Form}">로그인 폼</h2>
    </div>

    <h4 class="mb-3" th:text="#{login.Form.information}">로그인 정보 입력</h4>

    <form action="item.html" th:action method="post">
        <div>
            <label for="itemName" th:text="#{login.inputId}">ID 입력</label>
            <input type="text" id="itemName" name="itemName" class="form-control" placeholder="ID를 입력하세요" th:placeholder="#{login.input.hint.id}">
        </div>
        <div>
            <label for="price" th:text="#{login.inputPassword}">비밀번호 입력</label>
            <input type="text" id="price" name="price" class="form-control" placeholder="비밀번호를 입력하세요" th:placeholder="#{login.input.hint.pass}">
        </div>

        <hr class="my-4">

        <div class="row">
            <div class="col">
                <button class="w-100 btn btn-primary btn-lg" type="submit" th:text="#{login.button.submit}">로그인</button>
            </div>
            <div class="col">
                <button class="w-100 btn btn-secondary btn-lg"
                        onclick="location.href='items.html'"
                        th:onclick="|location.href='@{/basic/items}'|"
                        type="button" th:text="#{login.button.cancel}">취소</button>
            </div>
        </div>

    </form>

</div> <!-- /container -->
</body>
</html>